html, body{
    text-align: center;
}

h1{
    font-family: arial;
    font-size: 30px;
    color: black;
}

#gameScreen {

    background-color: black;
    border: 1px solid black; 
    margin: auto;
}

img{
    display: none;
}

#imgBall {
    width: 40px; 
    height: 40px;
}